@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="" disabled class="ml-md-auto">About</a>
    </div>
    <div style="display:contents;">
        @Body
    </div>
</div>
